<h3 class="text-lg font-semibold text-gray-900 flex items-center gap-2 <%= @class_name %> <%= @options[:class] %>">
  <% if @icon_name.present? %>
    <% default_icon_classes = {
      inputs: 'size-6 text-blue-600',
      internals: 'size-6 text-purple-600',
      outputs: 'size-6 text-green-600',
      actions: 'size-6 text-orange-600',
      code: 'size-6 text-gray-600'
    } %>
    <%= render Servactory::Web::UiKit::Atoms::IconComponent.new(name: @icon_name, class_name: default_icon_classes[@icon_name.to_sym] || 'size-6') %>
  <% end %>
  <%= @title %>
</h3> 
