<h3 class="text-lg font-semibold text-gray-900 flex items-center gap-2 <%= @class_name %> <%= @options[:class] %>">
  <% if @icon_type.present? %>
    <%= render Servactory::Web::UiKit::IconComponent.new(type: @icon_type) %>
  <% end %>
  <%= @title %>
</h3> 